.container {
  display: flex;
  justify-content: space-around;

  padding-bottom: 15px;
  margin-top: 10px;
  border-bottom: 2px solid rgb(226, 217, 217);
}

.button {
  margin-top: 10px;
  height: 40px;
  width: 78%;
  /* align-items: flex-start; */
  font-weight: 500;
  color: white;
  text-decoration: none;
  padding: 3px;
  border-radius: 8px;
  background: rgb(64, 199, 129);
  box-shadow: 0 -3px rgb(53, 167, 110) inset;
  transition: 0.2s;
  cursor: pointer;
  margin: 0 auto;
}
.button:hover {
  background: rgb(53, 167, 110);
}
.button:active {
  background: rgb(33, 147, 90);
  box-shadow: 0 3px rgb(33, 147, 90) inset;
}

.Register {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(230, 219, 219);
  /* padding: 20px 0; */
}

.form {
  flex-direction: column;
}

.label {
  margin-bottom: 10px;
  width: 50%;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 500;
}

.label input {
  margin-top: 5px;
  border-color: rgb(230, 219, 219);
}

.label input:focus,
.label input:hover {
  border-color: rgb(230, 219, 219);
}

.label input:focus-within {
  background-color: rgb(230, 219, 219);
  color: black;
}

.input {
  width: 350px;
  padding: 12px 20px;
  border: 2px solid black;
  color: black;
  border-radius: 4px;
}
